@import './index.css';

.content-wrap {
    color: var(--color-primary);
}

.content-wrap .title {
    border-bottom: .1em solid currentColor;
    width: 80%;
    text-align: center;
}

.content-wrap .detail-card {
    width: 100%;
    background: #fff;
    box-shadow: 0 6px 20px rgba(200, 200, 200, .5);
    border-radius: 5px;
    padding: 0;
    margin: 3em;
}
.content-wrap .detail-card .detail-card_header {
    padding: 1em;
    background: inherit;
    border-radius: inherit;
    box-shadow: inherit;
    text-align: center;
    box-shadow: 0 6px 20px rgba(200, 200, 200, .8);
}
.content-wrap .detail-card .detail-card_description {
    /* margin-top: ; */
    padding: 3em 2em 1em;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 2.5em;
    background: var(--color-secondary);
    color: white;
    border-radius: inherit;
}
.content-wrap .detail-card .detail-card_description .image-description {
    border-radius: inherit;
    text-align: center;
}
.content-wrap .detail-card .detail-card_description .image-description img {
    border-radius: 5px;
    box-shadow: 0 6px 20px rgba(200, 200, 200, .5);
    /* max-height: 90%; */
}
.content-wrap .detail-card .detail-card_description .description_content {
    border-radius: inherit;
}
.content-wrap .detail-card .detail-card_description .description_content h3 {
    text-align: center;
}
.content-wrap .detail-card .detail-card_description .description_content hr {
    width: 100%;
    background: var(--color-light);
    border: none;
    height: .3em;
    margin: .5em 0 1em;
}
.content-wrap .detail-card .detail-card_description .description_content .description_content-group {
    font-weight: normal;
    padding: 1em .5em;
    background: var(--color-primary);
}
.content-wrap .detail-card .detail-card_description .description_content .description_content-group h3
{
    font-weight: inherit;
    text-align: inherit;
    color: rgb(236, 236, 236);
}
.content-wrap .detail-card .detail-card_description .description_content .description_content-group hr,
.content-wrap .detail-card .detail-card_description .description_content .description_content-group:nth-child(even) hr
{
    /* background: var(--color-light); */
    border: none;
    height: .1em;
    margin: 0;
}
.content-wrap .detail-card .detail-card_description .description_content .description_content-group:nth-child(even) hr
{
    background: rgb(20, 20, 20);
}
.content-wrap .detail-card .detail-card_description .description_content .description_content-group p,
.content-wrap .detail-card .detail-card_description .description_content .description_content-group .list li,
.content-wrap .detail-card .detail-card_description .description_content .description_content-group .list:nth-child(even) li
{
    color: rgb(158, 158, 158);
}
.content-wrap .detail-card .detail-card_description .description_content .description_content-group:nth-child(even)
{
    background: var(--color-light);
}
.content-wrap .detail-card .detail-card_description .description_content .description_content-group:nth-child(even) h3
{
    color: rgb(20, 20, 20);
}
.content-wrap .detail-card .detail-card_description .description_content .description_content-group:nth-child(even) p
{
    color: rgb(75, 74, 74);
}
.content-wrap .detail-card .detail-card_description .description_content .description_content-group p,
.content-wrap .detail-card .detail-card_description .description_content .description_content-group:nth-child(even) p,
.content-wrap .detail-card .detail-card_description .description_content .description_content-group .list,
.content-wrap .detail-card .detail-card_description .description_content .description_content-group:nth-child(even) .list
{
    padding-top: .5em;
    padding-left: 1em;
}
